<div class="container">
<h3 class="text-center mt-2"><b>DANH MỤC THUỐC</b></h3>
{{!-- {{#ifEquals role "doctor"}}
<div class="text-end">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addDrugModal">
        Thêm mới thuốc
    </button>
</div>
{{/ifEquals}} --}}
{{#ifEquals info "add"}}
<div class="row">
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <strong>Thêm thuốc thuốc thành công.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/ifEquals}}
<div class="modal fade" id="addDrugModal" tabindex="-1" aria-labelledby="addDrugModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới thuốc</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="px-md-2" id="addDrugForm" action="/them/thuoc" method="POST">
                    {{!-- New drug name input --}}
                    <div class="form-floating mb-4">
                        <input type="text" id="Name" class="form-control" name="Name" required />
                        <label class="form-label" for="Name">Tên thuốc</label>
                    </div>

                    {{!-- New unit input --}}
                    <div class="form-floating mb-4">
                        <input type="text" id="Unit" class="form-control" name="Unit" required />
                        <label class="form-label" for="Unit">Đơn vị tính</label>
                    </div>

                    {{!-- New unit price input --}}
                    <div class="form-floating mb-4">
                        <input type="number" id="Price" min="0" class="form-control" name="Price" required />
                        <label class="form-label" for="Price">Đơn giá</label>
                    </div>

                    {{!-- New quantity input --}}
                    <div class="form-floating mb-4">
                        <input type="number" id="Quantity" min="0" class="form-control" name="Quantity" required />
                        <label class="form-label" for="Quantity">Số lượng</label>
                    </div>

                    {{!-- New active substance input --}}
                    <div class="form-floating mb-4">
                        <input type="text" id="Chemicals" class="form-control" name="Chemicals" required />
                        <label class="form-label" for="Chemicals">Hoạt chất</label>
                    </div>

                    {{!-- New uses input --}}
                    <div class="form-floating mb-4">
                        <input type="text" id="Uses" class="form-control" name="Uses" required />
                        <label class="form-label" for="Uses">Công dụng chính</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary" form="addDrugForm">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<table id="example" class="table table-striped" style="width:100%;background-color: aliceblue;">
        <thead>
            <tr>
                <th>Tên thuốc</th>
                <th>Đơn vị tính</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Hoạt chất</th>
                <th>Công dụng chính</th>
            </tr>
        </thead>
        <tbody>
            {{#each drugs}}
            <tr>
                <td><a href="/thuoc/{{ID}}-{{Name}}">{{Name}}</a></td>
                <td>{{Unit}}</td>
                <td><script>document.write(formatMoney({{Price}}))</script></td>
                <td>{{Quantity}}</td>
                <td>{{Chemicals}}</td>
                <td>{{Uses}}</td>
            </tr>
            {{/each}}
    </table>
</div>